@charset "utf-8";
/* *******************************************************
 * filename : board.css
 * description : 일반 게시판, 뷰, 쓰기 등 게시판에 관련된 통합 CSS
 * date : 2018-02-06
******************************************************** */
/* ******************   게시판 :: 공통  ********************** */

/* input */

input::input-placeholder { color: rgba(255, 255, 255, 0.3)}
input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.3)}
input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.3)}
input::-ms-input-placeholder { color: rgba(255, 255, 255, 0.3)}

textarea::input-placeholder { color: rgba(255, 255, 255, 0.3)}
textarea::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.3)}
textarea:-ms-input-placeholder { color: rgba(255, 255, 255, 0.3)}
textarea::-ms-input-placeholder { color: rgba(255, 255, 255, 0.3)}


input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}


input, textarea, select{
	
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	
}


/* 공통 :: 버튼  */
.cm-btn-controls {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
}
.cm-btn-controls.cm-btn-align-left {
    text-align: left;
}
.cm-btn-controls.cm-btn-align-right {
    text-align: right;
}
.cm-btn-controls .left-btn-controls {
    float: left;
}
.cm-btn-controls .right-btn-controls {
    float: right;
}
.cm-btn-controls button, .cm-btn-controls a {
    display: inline-block;
    width: 150px;
    height: 42px;
    border: 0;
    color: #fff;
    background-color: #000;
    font-size: 17px;
    margin: 0 2px 5px 2px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.cm-btn-controls a {
    line-height: 42px;
}
.cm-btn-controls.cm-btn-long-controls button, .cm-btn-controls.cm-btn-long-controls a {
    width: 100%;
    height: 50px;
    margin: 0px;
    margin-bottom: 5px;
}
.cm-btn-controls.cm-btn-long-controls a {
    box-sizing: border-box;
    line-height: 50px;
}
.cm-btn-controls .btn-style01 {
    background-color: #2573a8;
	border: 1px solid #071a34;
}
.cm-btn-controls .btn-style02 {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30);
}
.cm-btn-controls .btn-style03 {
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #888;
    color: #222;
}
/* 공통 :: PAGING */
.paging {
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.paging a {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid #2573a8;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #2573a8;
    letter-spacing: -0.25px;
}
.paging a.cur {
    border: 1px solid #2573a8b;
    background-color: #2573a8;
    color: #192942;
}
.paging a.paging-arrow {
    line-height: 28px;
}
.paging i {
    vertical-align: middle;
    color: inherit
}
/* 공통 :: SEARCH BOX */

/* 공통 :: TOTAL NUMBER */
.total-list-con {
    padding-bottom: 15px;
    color: #333;
    font-size: 14px;
    letter-spacing: -0.25px;
}
.total-list-con b {
    color: #eb8500
}
/* 공통 :: NO LIST */
.bbs-no-list {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #ddd;
}



/* ******************   게시판 :: 쓰기, 문의폼  ********************** */

/* 게시판 :: 쓰기, 문의폼 :: 작성영역 */

.bbs-write-con{padding: 20px 0}
.bbs-write-tbl {
    width: 100%;
    border-top: 2px solid #071a34;
}
.bbs-write-tbl th, .bbs-write-tbl td {
    padding: 8px 0px;
    border-bottom: 1px solid #071a34;
    background: #1e2e47
}
.bbs-write-tbl th {
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 500;
    text-align: left;
	display: none
}
.bbs-write-tbl .write-input, .bbs-write-tbl .write-select, .bbs-write-tbl .write-textarea {
    height: 34px;
    border: 0px;
    width: 50%;
    background-color: #192942;
    border: 1px solid #071a34;
    font-size: 15px;
    vertical-align: middle;
}
.bbs-write-tbl .write-input:focus {
    border-color: #77b3d3;
}
.bbs-write-tbl .write-input {
    text-indent: 10px;
}
.bbs-write-tbl .write-select {
    height: 38px;
	
}
.bbs-write-tbl .write-textarea {
    width: 100%;
    height: 200px;
    resize: none;
   
	text-indent: 10px;
	padding: 10px 0;
	
	
}

.bbs-write-tbl .write-textarea {
color: #fff
	
}


.bbs-write-tbl .file_input label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 100px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30);
    color: #fff;
    text-align: center;
    line-height: 34px;
    margin-left: 2px;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.bbs-write-tbl .file_input label input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
.bbs-write-tbl .file_input input[type=text] {
    display: inline-block;
    height: 34px;
    border: 0px;
    width: 50%;
    background-color: #192942;
    border: 1px solid #071a34;
    font-size: 15px;
    vertical-align: middle;
	text-indent: 10px;
}
.bbs-write-tbl td .write-sub-txt {
    color: #888;
    margin-left: 10px;
    font-size: 11px;
    color: #aaa;
    font-family: "돋움", dotum, sans-serif;
    
}
.bbs-write-tbl td .write-sub-txt2 {
    display: block;
    color: #888;
    margin-top: 5px;
    font-size: 11px;
    color: #aaa;
    font-family: "돋움", dotum, sans-serif;
   
}
.bbs-write-tbl .hypen {
    margin: 0 5px;
}
/* 게시판 :: 쓰기, 문의폼 :: 기타 */
.bbs-write-tbl .input-check {
    padding: 10px 0;
}
.bbs-write-tbl .input-check span {
    margin-right: 30px;
}
.bbs-write-tbl .input-check span label {
    vertical-align: middle;
    font-size: 14px;
}
.address-fieldset .write-input {
    margin-top: 6px;
}
.address-fieldset .write-input:first-child {
    margin-top: 0;
}
.bbs-write-tbl .address-btn {
    display: inline-block;
    min-width: 114px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #464646;
    vertical-align: middle;
    text-align: center;
    color: #464646;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}
.bbs-write-tbl .address-btn:hover {
    background-color: #464646;
    color: #fff;
}

/* ****************** 게시판 ::  FAQ 게시판  ********************** */
.faq-list-con {
    border-top: 1px solid #071a34;
    margin-bottom: 30px;
}
.faq-list-con .faq-item {
    border-bottom: 1px solid #142843;
}
.faq-list-con .faq-item dt {
    position: relative;
    padding: 15px 30px 15px 55px;
    cursor: pointer;
}
.faq-list-con .faq-item dt .faq-title {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.faq-list-con .faq-item dt .arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 13px;
    height: 9px;
}
.faq-list-con .faq-item dt i {
    color: #fff;
    font-size: 26px;
}
.faq-list-con .faq-item.open dt .arrow i {
    margin-top: -2px;
    transform: rotate(-180deg);
}
.faq-list-con .faq-item.open dt .faq-title {
    white-space: normal;
    text-overflow: unset;
}
.faq-list-con .faq-item dd {
    display: none;
    position: relative;
    border-top: 1px solid #142843;
    padding: 20px 30px 20px 55px;
    background: #213753;
}
.faq-list-con .faq-item dd .answer-txt-con {
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.faq-list-con .faq-item dt .question-icon, .faq-list-con .faq-item dd .answer-icon {
    position: absolute;
    top: 13px;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.faq-list-con .faq-item dt .question-icon {
    background-color: #0ab1d0
}
.faq-list-con .faq-item dd .answer-icon {
    background-color: #c42500;
}
/* FAQ :: 카테고리 */
.top-search-box {
    margin-bottom: 20px;
}
.top-search-box select {
    width: 200px;
    height: 34px;
    border: 1px solid #ccc;
    vertical-align: top;
}
.faq-list-con.faq-category-list-con dl dt .faq-category {
    display: inline-block;
    width: 110px;
    color: #aaa;
    margin-right: 5px;
    font-size: 13px;
    line-height: 24px;
    vertical-align: top;
}
.faq-list-con.faq-category-list-con dl dt .faq-title {
    display: inline-block;
    width: calc(95% - 120px);
}



/* ******************   게시판 :: 뷰페이지  ********************** */
/* 게시판 :: 뷰 :: 상단 타이틀 정보 */

#bbs-view{}
.bbs-view-con { padding: 20px 0px; }
.bbs-view-title {border-top:2px solid #071a34;   }

.bbs-view-title .bo_v_tit{display:block;color:#efefef;font-size:18px; font-weight: normal;margin:1px 0 1px; padding: 5px 10px; background: rgba(7,26,52,0.35) ; line-height: 30px }

.bbs-view-info { text-align: right; padding: 15px 0px;margin:1px 0 20px;border-top:2px solid #071a34;border-bottom:1px solid #071a34; color:#ddd; }
.bbs-view-info:after {display:block;visibility:hidden;clear:both;content:""} 
.bbs-view-info h2 {position:absolute;font-size:0;line-height:0;overflow:hidden;}
.bbs-view-info strong {display:inline-block;margin:0 20px 0 0;font-weight:normal;color:rgba(255,255,255,0.45)}
.bbs-view-info .sv_member,
.bbs-view-info .sv_guest,
.bbs-view-info .member,
.bbs-view-info .guest {font-weight:bold}
.bbs-view-info .profile_img {}
.bbs-view-info .profile_img img{border-radius:50%}
.bbs-view-info a,
.bbs-view-info .sv_member{color:rgba(255,255,255,0.45)}
.bbs-view-info .if_view{display:inline-block;background:url(./img/icon_view.png) no-repeat 50% 50%;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
.bbs-view-info .if_comment{display:inline-block;height:15px;width:20px;overflow:hidden;text-indent:-999px;vertical-align:middle;margin-right:3px}
.bbs-view-info .if_date{margin:0;color:#ddd}





.bo_v_atc {min-height:200px;height:auto !important;height:200px;color:rgba(255,255,255,0.85); border-bottom:2px solid #071a34;  }
.bo_v_atc_title  {position:absolute;font-size:0;line-height:0;overflow:hidden}



#bo_v_file {margin:10px 0;}
#bo_v_file h2 {padding:10px;background: #333;;color:#999;}
#bo_v_file ul {margin:0;padding:5px 0;list-style:none}
#bo_v_file li {padding:5px 10px;position:relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#bo_v_file a {display:inline-block;color:#c89b43;text-decoration:none;}
#bo_v_file a strong{}
#bo_v_file a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
#bo_v_file img {float:left;margin:0 10px 0 0}
.bo_v_file_cnt  {display:block; text-align:right;color:#888;font-size:1em}




#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {;padding:0;list-style:none}


#bo_v_img {width:100%;overflow:hidden;zoom:1}
#bo_v_img:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_img img {margin-bottom:20px;max-width:100%;height:auto}

.bo_v_con {margin:10px 0 30px;width:100%;line-height:1.7em;min-height:200px;word-break:break-all;overflow:hidden;font-size:16px; text-align: left; font-weight: normal}
.bo_v_con a {color:#fff;text-decoration:underline}
.bo_v_con img {max-width:100%;height:auto}


.bo_v_con_questions {margin:0px 0 -1px ; padding: 0px 10px;  width:100%; width: calc(100% - 20px); line-height:1.7em;min-height:40px;word-break:break-all;overflow:hidden;font-size:16px; text-align: left; font-weight: normal; color:#77b3d3; border-bottom:2px dashed #293850; }
.bo_v_con_questions img {max-width:100%;height:auto}

.bo_v_con_answer {margin:0px 0px 0px;width:100%;padding: 15px 10px;  width:100%; width: calc(100% - 20px);background: #293850;line-height:1.7em;min-height:150px; word-break:break-all;overflow:hidden;font-size:16px; text-align: left; font-weight: normal; border-top:2px dashed #071a34;}
.bo_v_con_answer img {max-width:100%;height:auto}

#bo_v_share{position:relative;margin:20px 0;text-align:right}
#bo_v_share .btn{padding:0 10px 0 0;color:#555;font-weight:normal;font-size:1em ;line-height:30px;height:32px;border-radius:0;border-color:#071a34;border-radius:5px;}
#bo_v_share .btn:hover{background:#fff}
#bo_v_share .btn i{margin-right:5px;background:#eee;color:#333;text-align:center;width:30px;line-height:30px;vertical-align:top;}
#bo_v_share .btn_share{}
#bo_v_share .btn_share:hover{}

.bo_v_snswr{position:relative;display:inline-block;margin-left:-1px}



/* 댓글 */


#bo_vc { text-align: left}
#bo_vc h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc article {margin:20px 0;position:relative;border-top:1px;}
#bo_vc article .profile_img img{border-radius:50%}
#bo_vc header {}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {font-weight:normal}
.bo_vc_hdinfo{color:rgba(255,255,255,0.45); margin-left: 20px}
#bo_vc h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_vc .cmt_contents {padding:15px  ;margin:10px 0 0;background: #293850;border-radius:5px;border: 1px solid #293850; color:rgba(255,255,255,0.75);line-height:1.8em}
#bo_vc a { color:rgba(255,255,255,0.35);}
#bo_vc a:hover { color:rgba(255,255,255,1);}
#bo_vc p a {text-decoration:underline}
#bo_vc p a.s_cmt {text-decoration:underline;color:#2573a8}
#bo_vc_empty {margin:0;padding:80px 0 !important;;color:#777;text-align:center}
#bo_vc #bo_vc_winfo {float:left}


.bo_vc_w {position:relative;margin:10px 0;display:block;}
.bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.bo_vc_w #char_cnt {display:block;margin:0 0 5px}
.bo_vc_w textarea{vertical-align:middle;border-radius:3px;padding:5px;width:100%;height:80px;padding-right:90px; background-position:top 2px right 82px !important;}
#wr_secret{}
.bo_vc_w_info{margin:10px 0;}
.bo_vc_w_info:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_w_info .frm_input{float:left;margin-right:5px;width:35%;}
.bo_vc_w_info #captcha{padding-top:10px;display:block;clear:both}


.bbs-view-comment{ margin: 10px 0; text-align: left}
.bbs-view-comment textarea{background-color:#192942;border: 1px solid #071a34;color:#fff; width: 100%; height: 100px; padding: 10px 0; line-height: 26px}
.bbs-view-comment .com_file_input label {
    position: relative;cursor: pointer;display: inline-block;vertical-align: middle;overflow: hidden;width: 100px; height: 34px;background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.30);color: #fff;text-align: center;line-height: 34px;margin-left: 2px;}
.bbs-view-comment .com_file_input label input {position: absolute; width: 0; height: 0; overflow: hidden;}
.bbs-view-comment .com_file_input input[type=text] {display: inline-block; height: 34px; border: 0px;width: 70%;background-color: #192942;border: 1px solid #071a34; font-size: 14px;vertical-align: middle;}
.bbs-view-comment .btn-style01 {background-color: #2573a8; line-height: 34px; padding: 0 15px}



/* ******************   게시판 :: 기본리스트 ********************** */
/* 게시판 :: 기본리스트 :: 레이아웃 */



.bbs-list-con {
    padding: 0px 0px; 
}

.bbs-list-Tbl{width:100%; margin-bottom:20px;}
.bbs-list-Tbl > ul{display:table;width:100%;}
.bbs-list-Tbl > ul > li{display:table-row;width:100%;}
.bbs-list-Tbl > ul > li > div{display:table-cell;}
.bbs-list-Tbl > ul > li.bbs-list-TblTh{background:#192942;}
.bbs-list-Tbl > ul > li.bbs-list-TblTh > div{padding:15px 0;border-top:1px solid #071a34;border-bottom:1px solid #071a34;color:#77b3d3; vertical-align:middle; text-align:center; font-size:14px;}
.bbs-list-Tbl > ul > li.bbs-list-TblTh > div a{color:#77b3d3; }
.bbs-list-Tbl > ul > li.bbs-list-TblTd > div{padding:20px 2px;border-bottom:1px solid #071a34; vertical-align:middle; color:rgba(255,255,255,0.75);}
.bbs-list-Tbl > ul > li:hover.bbs-list-TblTd{background:#2573a8;}
.bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject{max-width: 300px}
.bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject a{-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.bbs-list-Tbl > ul > li:hover.bbs-list-TblTd .td_subject a{padding-left:0px;-webkit-transition-duration: 0.2s;-webkit-transition-timing-function: ease;transition-duration: 0.2s;transition-timing-function: ease;}
.bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject .bo_tit a{display:block; color:rgba(255,255,255,0.75); text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden; }
.bbs-list-Tbl > ul > li.bbs-list-TblTd .td_subject .bo_tit a em{font-style:normal; }
.bbs-list-Tbl > ul > li:hover.bbs-list-TblTd .td_subject .bo_tit a{ color:rgba(255,255,255,1);}
.bbs-list-Tbl > ul > li:hover.bbs-list-TblTd .td_subject .bo_tit a em span,
.bbs-list-Tbl > ul > li:hover.bbs-list-TblTd .td_subject .bo_tit a em i{color:#192942 !important;}

.bo_notice,
.bo_notice > div {background:#213753 !important;}
.bbs-list-Tbl > ul > li.bo_notice  .td_subject .bo_tit a{color:#fff;}
.bbs-list-Tbl .td_board {width:120px;text-align:center}
.bbs-list-Tbl .td_chk {width:30px;text-align:center; padding:0 0 0 0; margin: 0 0 0 0; } 
.bbs-list-Tbl .td_date {width:60px;text-align:center;}
.bbs-list-Tbl .td_datetime {width:100px;text-align:center;}
.bbs-list-Tbl .td_group {width:100px;text-align:center}
.bbs-list-Tbl .td_group2{width:200px;text-align:center}
.bbs-list-Tbl .td_group3{width:200px;}
.bbs-list-Tbl .td_site {width:200px;text-align:center}
.bbs-list-Tbl .td_id {width:100px;text-align:center}
.bbs-list-Tbl .td_email {width:150px;}
.bbs-list-Tbl .td_tel {width:120px;text-align:center}
.bbs-list-Tbl .td_name {width:90px;text-align:center;}
.bbs-list-Tbl .td_company {text-align:center;}
.bbs-list-Tbl .td_num {width:150px;text-align:center;}
.bbs-list-Tbl .td_num2 {width:50px;text-align:center;}
.bbs-list-Tbl .td_btn {width:80px;font-size:20px;text-align:center}
.bbs-list-Tbl .txt_active {color:#5d910b}
.bbs-list-Tbl .txt_expired {color:#ccc}
/*admin*/
.bbs-list-Tbl .td_code_name {width:180px; max-width: 180px; text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.bbs-list-Tbl .td_code_info {max-width: 150px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.bbs-list-Tbl .td_code_use {width:80px;text-align:center;}
.bbs-list-Tbl .td_client {width:120px;text-align:center}

.bbs-list-Tbl .td_chk input [type="checkbox"]{ margin: 0 0 0 0 ; padding: 0 0 0 0}

.td_subject img {margin-left:5px}

/*.bbs-list-Tbl .profile_img {display:inline-block;;margin-right:2px}*/
.bbs-list-Tbl .profile_img img{border-radius:50%}
.bbs-list-Tbl .cnt_cmt{display:inline-block; background:rgba(255,255,255,0.55);color:#071a34; font-size:12px; font-weight: 600;height:16px;line-height:16px;padding:0 5px;border-radius:3px;vertical-align:middle;}

.bbs-list-Tbl .bo_tit .fa-download{width:16px;height:16px;line-height:16px;background:#ddd;color:#999;text-align:center;font-size:10px;border-radius:2px;margin-right:2px;vertical-align:middle;margin-right:2px}
.bbs-list-Tbl .bo_tit .fa-link{width:16px;height:16px;line-height:16px;background:#ddd;color:#999;text-align:center;font-size:10px;border-radius:2px;margin-right:2px;vertical-align:middle;margin-right:2px;font-weight: normal;}
.bbs-list-Tbl .bo_tit .new_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#999;background:#ddd;text-align:center;border-radius: 2px;vertical-align:middle;margin-right:2px}
.bbs-list-Tbl .bo_tit .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#999;background:#ddd;text-align:center;border-radius: 2px;;vertical-align:middle;margin-right:2px;font-weight:normal}
.bbs-list-Tbl .bo_tit .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #fff;background: #333;text-align: center;border-radius: 2px;font-size: 12px;border:1px solid #000}
.bbs-list-Tbl .bo_tit a{font-size:14px;}
.bo_tit{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.onlyMvV{display:none;}
.bbs-list-Tbl > ul > li > div.mvInlinev i{display:none;}
.bbs-list-Tbl input{ margin: 0 0 0 0 ; padding: 0 0 0 0}
/* ******************  추가되는 게시판 스타일은 아래에 작성해 주세요 (퍼블리셔담당)  ********************** */



/* ******************   게시판 상단 :: 조회 ********************** */
.search-group {text-align: left;width: 100%;margin: 20px auto 0px; 	}
.search-group label{margin-right: 5px;   }
.search-group span { margin-right: 20px; }
.search-group span> input , select  {
  color: #fff;
  font-size: 14px;
  background-color: #1e2e47;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: inline;
  height: 34px;	width: 200px;
  line-height: 34px;padding: 0 10px;}

.search-group a {
    display: inline-block;
    width: 120px;
    height: 32px;
	line-height: 32px;
    border: 1px solid #071a34;
    color: #fff;
    font-size: 16px;
    margin: 0 2px 10px 2px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	background-color: #2573a8;
	float: right;
}


#bo_sch {
    float: left; 
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width:820px;
}

#bo_sch span a{
    display: none
}

#bo_sch .select{  
	width: 15%;
	-webkit-border-radius:3px 3px 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
    -o-border-radius:3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	}
#bo_sch .select_title{  
	width: 15%;
	-webkit-border-radius:3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius:3px 0 0 3px;
    border-radius: 3px 0 0 3px;
	}
#bo_sch .input_title{  
	
	margin-left: -3px;
	width: 30%;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    -o-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
	}


.admin-cont {
    width: 100%;
    display: inline-block;
    position: relative;
	
	/*background-image: url("../images/cont_box_line.png")  ; 
	background-repeat: repeat-y;
	background-position: center;*/
	
}
.admin-cont .w70{ width: calc(70% - 31px);}
.admin-cont .w30{ width: calc(30% - 31px);}


/* 왼쪽 컨텐츠 */
.admin-left-con {
    width: 50%;
    padding-right: 30px;
    float: left;
	border-right: 1px solid #071a34;
    width: calc(50% - 31px);
	
}


/* 오른쪽 컨텐츠 */
.admin-right-con {
    width: 50%;
    padding-left: 30px;
    float: right;
	border-left: 1px solid rgba(255,255,255,0.05);
    width: calc(50% - 31px);
}



.admin-title{ line-height: 32px; margin: 10px 0;}

.admin-title span {
    
    text-align: left; 
	color: #78b5d4;
	font-size: 18px;
	display: inline-block;
	float: left
}
.admin-title a {
    display: inline-block;
    width: 120px;
    height: 32px;
	line-height: 32px;
    border: 1px solid #071a34;
    color: #fff;
    font-size: 16px;
    margin: 0 2px 10px 2px;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	background-color: #2573a8;
	float: right;
}




