@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 헤더, 푸터, 서브레이아웃 반응형
 * date : 2020-09-09
******************************************************** */

/* ****************** 공통 ********************** */
@media all and (max-width:1620px){
	.area-box{padding:0 15px;}
}
@media all and (max-width:1220px){
	.area {padding:0 15px;}
}

/* ****************** HEADER ********************** */
@media (max-width: 1440px){
    
}
@media (min-width: 1221px){
.gnb-2dep {position: absolute; display: none; width: 100%; text-align: center; background-color: #213753; border-top: 1px solid #16263f; z-index: 9999; padding: 20px 0;}

}
@media (max-width: 1220px){
	#header
	.gnb-overlay-bg-m {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}	
	.header-lang {display: none;}
	.header-lang-m {height: 96px; line-height: 96px; padding-left: 4%; font-size:  20px;}
	.header-lang-m>span>a {color: rgba(255,255,255,0.4); font-weight: 500; font-size:  20px;border: 1px solid rgba(255,255,255,0.5); border-radius: 12px; margin-left: 10px; padding: 3px 10px; -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s}
.header-lang-m>span>a.on,.header-lang-m>span>a:hover {color: rgba(255,255,255,1);border: 1px solid rgba(255,255,255,1); 	}


	#gnb {display: none;}
	#gnbM {display: block; position: fixed; top: 0; right: -100%; width: 100%; height: 100%; background-color:#16263f; z-index: 8;}
	#navigation {}
	#navigation>li {border-bottom: 1px solid #1e2e47; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
	#navigation>li>a {padding:0 4%;font-weight: 400; letter-spacing: -0.5px; font-size: 20px; line-height: 90px;}
	#gnbM.open {right: 0;}
	.gnb-2dep {background-color: #1e2e47; display: none;}
	.gnb-2dep>li>a {display: block; padding:0 5%;font-size: 20px; line-height: 65px; letter-spacing: -0.5px;color: #fff;}
	.gnb-2dep-none{display: none}
	
	/********모바일 lang*******/
	

	/********모바일 네비버튼*******/
	.nav-open-btn {display: inline-block;}
	.sitemap-line-btn {display: none;}
	.nav-open-btn.active .line {background-color: #fff;}
	.nav-open-btn.active .line.line1 { top: 6px; -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);  -ms-transform: rotate(45deg);-o-transform:  rotate(45deg);}
	.nav-open-btn.active .line.line2 {-moz-transform: translateX(100%);-ms-transform: translateX(100%);-o-transform: translateX(100%);transform: translateX(100%); opacity: 0;}
	.nav-open-btn.active .line.line3 { top: -6px; -webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform:  rotate(-45deg);}
	
}
/********모바일 메인메뉴*******/
@media (max-width: 800px){
.quick-menu-m li>a>i {font-size: 20px;}
.logo {left: 4%; padding: 12.5px 0;}
.logo a {height: 35px;}
.logo img {height: 100%; width: auto;}
#gnbWrap {height: 60px;}
.header-util-box {top: 20px; right: 4%;}

.header-lang-m {height: 76px; line-height: 76px; padding-left: 15px}
.header-lang-m>span>a {line-height: 60px; font-size: 13px;  }
.quick-menu-m li {height: 50px;}
.quick-menu-m li>a {line-height: 50px; font-size: 12px;}
#navigation>li>a {line-height: 50px; font-size: 15px;}
.gnb-2dep>li>a{font-size: 13px; line-height: 40px;}
}

@media (max-width: 480px){

}
/* ****************** // HEADER ********************** */

@media all and (max-width:1620px){
	.copyright {margin-left: 15px;}
	.footer-contact {margin-right: 15px;}
}
@media all and (max-width:1440px){
#footer #footerInner .footer-slide-con .slick-slide img {max-width: 80%;}
}
@media all and (max-width:1220px){
	#footer{padding:0; text-align:center;}
	#footerTop{}
	/* Footer :: 푸터로고 */
	.foot-logo{float:none; display:block; padding-right:0; margin-bottom:15px;}
	/* Footer :: 푸터메뉴 */
	.foot-menu{float:none; display:inline-block;}
	/* Footer :: 왼쪽정보 */
	.footer-left-con,.footer-right-con{float:none; }
	/* Footer :: 하단정보 */
	.family-address span{margin:0 7px;}
	/* Footer :: 패밀리사이트 */
	.family-site-box{position:static; position:relative; top:0px; margin:15px auto 0;}
	.footer-info-cont {position: static;}
	.footer-contact {float: none; display: block; text-align: center; margin: 30px 0;}
	.copyright {float: none; display: block; text-align: center; font-size: 10px;}
	.footer-contact {
    margin: 21px 0;
	}
}
@media all and (max-width:800px){
	#footerTop {padding: 22px 0 36.5px;}
	#footer #footerInner .footer-slide-con {margin: 21px 0;}
	/* Footer :: 푸터메뉴 */
	.foot-menu {width: 100%;}
	.foot-menu li {/* margin-left: 7.87%; */ margin: 0 3.9%;}
	.foot-menu li a {font-size:11px;}
	.foot-menu li:before{width:3px; height:3px;}
	/* Footer :: 하단정보 */
	.copyright{font-size:10px; margin-left: 0;}
	.footer-contact{font-size: 12px;}
	.footer-contact i{font-size: 15px; margin-top: -1px;}
	.footer-contact em{margin: 0 3px;}
}

@media all and (max-width:480px){
	#footer #footerInner .footer-slide-con .slick-slide img {max-width:75px; max-height:27.5px;}
	.foot-menu li {margin: 0 1.7%;}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (min-width:1221px){
	/* 서브메뉴 on*/
	
}
@media all and (max-width:1220px){
	/*  SUB LAYOUT :: 서브메뉴(스타일2) */
	#topMenu{padding:0;}
	#topMenu .sub-link-btn{display:none;}
	#contentInfoCon{padding:30px 15px 0;}
}
@media all and (max-width:1200px){
	#visual:after {border:0;}
	
}
@media all and (max-width:800px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual{height:140px;}
	#visual .visual-tit{padding-top:105px; font-size:24px; line-height: 1.1;}
	#visual .visual-sub-txt{font-size:11px; line-height:2.3;}
	#contentInfoCon.content-info-style01:after {left: 0; right: 0; margin: 0 auto; width: 2.5%; height: 1px;}

	/*  SUB LAYOUT ::  서브메뉴(스타일1) */
	#sideMenu{display:none}
	#sideMenuM{display:block; position:relative; background-color:  rgba(22,38,63,0.55); height: 50px;}
	#sideMenuM .location-to-home-btn{position:absolute; width:39px; height:50px; left:0px; top:0px; background-color:#fff; text-align:center; border-right:1px solid #ddd;}
	#sideMenuM .location-to-home-btn i{color:#797979; font-size:20px; line-height:50px;}
	#sideMenuM .menu-location{position:relative; margin-top: -50px;}
	#sideMenuM .menu-location > .cur-location{position:relative; display:block; height:50px; padding-left:25px; }
	#sideMenuM .menu-location.location1 > .cur-location{border-right:1px solid #ddd;}
	#sideMenuM .menu-location > .cur-location span{line-height:50px; color:#fff; font-weight:500; font-size:15px;}
	#sideMenuM .menu-location > .cur-location .arrow{position:absolute; top:50%; color: #fff; right:10px; width:20px; height:20px;margin-top:-8px; font-size:20px;}
	#sideMenuM .menu-location > .cur-location.open .arrow{transform:rotate(-180deg); margin-top:-10px;}
	#sideMenuM .menu-location .location-menu-con{display:none; position:absolute; top:50px; left:-1px; width:calc(100% - 1px); border:1px solid #071a34; background-color:#16263f; z-index:11; }
	#sideMenuM .menu-location .location-menu-con li a{display:block; padding:10px ; padding-left:45px; font-size:13px;}
	#sideMenuM .menu-location .location-menu-con li.on{position:relative;}
	#sideMenuM .menu-location .location-menu-con li.on a{padding-left:45px; color:#77b3d3; font-weight:500;}
	#sideMenuM .menu-location .location-menu-con li.on a:before{content:""; position:absolute; top:50%; left:30px; width:7px; height:3px; margin-top:-1px; background-color:#77b3d3}
	/*  SUB LAYOUT :: 서브메뉴(스타일2) */
	#topMenu{height:40px; padding-left:39px;}
	#topMenu .location-to-home-btn{position:absolute; width:39px; height:40px; left:0px; top:0px; border:0;}
	#topMenu .location-to-home-btn i{font-size:20px; line-height:40px;}
	#topMenu .menu-location{width:50%;}
	#topMenu .menu-location > .cur-location{height:40px; border-right:0; border-left:1px solid #ddd; }
	#topMenu .menu-location > .cur-location span{line-height:40px;font-size:14px;}
	#topMenu .menu-location .location-menu-con{top:40px; left:0;}
	#topMenu .menu-location .location-menu-con li a{font-size:13px;}
	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{padding:30px 15px; display: none}
	#contentInfoCon .content-tit{font-size:12px}
	#contentInfoCon .content-sub-tit{font-size:13px; line-height:18px;}
	/*  SUB LAYOUT :: 상단정보(스타일02) */
	#contentInfoCon.content-info-style02 .content-tit{display:block; padding-bottom:15px;}
	#contentInfoCon.content-info-style02 .content-tit:after{position:static; display:block; margin:20px 0 0 0;}
	#contentInfoCon.content-info-style02 .content-sub-tit{display:block; margin-left:0}
	/*  SUB LAYOUT :: 상단정보(스타일03) */
	#contentInfoCon.content-info-style03 .content-tit{float:none; text-align:center;}
	#contentInfoCon.content-info-style03 .location{float:none; text-align:center; padding-top:23px;}
}