@charset "UTF-8";
/* Body */


body {
  font-family: 'Malgun Gothic';
  background-color: #16263f;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
}
/* Container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  background-color: #16263f;
}
.f_l {
	float: left
}
.f_r {
	float: right
}
.cl_b {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both
}
.center {
  text-align: center
}
.right {
  text-align: right
}
.left {
  text-align: left
}
/* Navigation */
header {
  width: 100%;
  height: 80px;
  background-color: #16263f;
 
}
.logo {
  color: #fff;
  font-weight: bold;
  text-align: undefined;
  width: 10%;
  float: left;
  margin-top: 14px;
  margin-left: 35px;
  letter-spacing: 4px;
}
/**
nav {
  float: right;
  width: 70%;
  text-align: right;
  margin-right: 20px;
}
header nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  text-align: left;
  margin-right: 80px;
  letter-spacing: 0px;
  font-weight: bold;
  transition: all 0.3s linear;
}
ul li a {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 36px;
}
ul li:hover a {
  color: #2C9AB7;
}

.container-icon {
  display: inline-block;
  cursor: pointer;
	float: right;
	text-align: right;
	margin-right: 35px;
	margin-top: 20px;
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}
**/



.hero_header {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40px;
}


/* Hero Section */
.hero {
  background-color:#1e2e47;
  padding-top: 28px;
  padding-bottom: 12px;
  background-image: url("../images/bg_1.png");
  height: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
	 border-top: 1px solid #071a34;
	 border-bottom: 1px solid #071a34;
}
.light {
  font-weight: bold;
  color: #717070;
}
.tagline {
  text-align: center;
  color: #FFFFFF;
  margin-top: 4px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* sub menu Section */
.sub .sub-lnb {
  width: 96%;
  height: 60px;
  margin: 0 auto;
  background-color: #16263f;
  border-bottom: 1px solid #071a34;
  position: relative;
}
.sub .sub-lnb .current-lnb {
  display: none;
}
.sub .sub-lnb ul.lnb-box {
  font-size: 0;
  text-align: center;
  width: 99%;
  position: absolute;
  top: 5px;
}
.sub .sub-lnb ul.lnb-box li {
  display: inline-block;
  height: 30px;
  position: relative;
  box-sizing: border-box;
}
.sub .sub-lnb ul.lnb-box li:before {
  content: "";
  width: 1px;
  height: 17px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
}
.sub .sub-lnb ul.lnb-box li a {
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  padding: 0 100px;
}
.sub .sub-lnb ul.lnb-box li:nth-child(1):before {
  display: none;
}
/* Style the tab buttons */
.tablink {
  background-color: #16263f;
  color: white;
  float: left;
  border: #071a34 solid 1px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}
/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}
/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}
/* About Section */
.text_column {
  width: 29%;
  text-align: justify;
  font-weight: lighter;
  line-height: 25px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #A3A3A3;
}
.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  display: inline-block;
  background-color: #FFFFFF;
  margin-top: 0px;
}
/*grid Section */
.grid {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: inline-block;
  background-color: #1e2e47;
}
.Info_grid {
  margin: 0 auto;
  border-collapse: collapse; /* Collapse borders */
  width: 96%; /* Full-width */
  border: 1px solid #071a34; /* Add a grey border */
  font-size: 16px; /* Increase font-size */
}
.Info_grid th {
  background: #192942;
  padding: 12px;
  color: #6da5c4;
}
.Info_grid td {
  text-align: center; /* Left-align text */
  padding: 12px; /* Add padding */
  color: #fff;
  font-size: 14px;
	background: #213753;
	
}
.Info_grid tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #071a34;
}
.Info_grid tr.header, .Info_grid tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #071a34;
}
.Info_grid td.left {
  text-align: left;
}




/* Pagination links */
.pagination{
	
	margin: 30px auto 0px;
	text-align: center;
	
}
.pagination a {
  color: #2573a8;
  margin: 0;  
  padding: 2px 10px 6px 10px;
  text-decoration: none;
  transition: background-color .3s;
  border: #2573a8 1px solid;
  font-size: 14px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #2573a8;
  color: #12223a;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #12223a;}


/* Stats Gallery */
.stats {
  color: #717070;
  margin-bottom: 5px;
}
.gallery {
  clear: both;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  /* [disabled]min-width: 400px;
*/
  padding-bottom: 35px;
  padding-top: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}
.thumbnail {
  width: 25%;
  text-align: center;
  float: left;
  margin-top: 35px;
}
.gallery .thumbnail h4 {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #52BAD5;
}
.gallery .thumbnail p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: #A3A3A3;
}
/* Parallax Section */
.banner {
  background-color: #2D9AB7;
  background-image: url(../images/parallax.png);
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax {
  color: #FFFFFF;
  text-align: right;
  padding-right: 100px;
  padding-top: 110px;
  letter-spacing: 2px;
  margin-top: 0px;
}
.parallax_description {
  color: #FFFFFF;
  text-align: right;
  padding-right: 100px;
  width: 30%;
  float: right;
  font-weight: lighter;
  line-height: 23px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* More info */
footer {
  background-color: #16263f;
  padding-bottom: 25px;
}
.footer_column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  float: left;
}
footer .footer_column h3 {
  color: #B3B3B3;
  text-align: center;
}
footer .footer_column p {
  color: #717070;
  background-color: #FFFFFF;
}
.cards {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 200px;
}
footer .footer_column p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  line-height: 25px;
  font-weight: lighter;
  margin-left: 20px;
  margin-right: 20px;
}
.copyright {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #16263f;
  color: #53667e;
  text-transform: none;
  font-weight: normal;
  font-size: 11px;
  border-top: #071a34 solid 1px;
}
.footer_banner {
  background-color: #B3B3B3;
  padding-top: 60px;
  padding-bottom: 60PX;
  margin-bottom: 0px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
}
footer {
  display: inline-block;
	width: 100%;
}
.hidden {
  display: none;
}

.search-group {
	text-align: left;
	margin-bottom: 10px;
	width: 96%;
	margin: 0 auto 10px;
}

.search-group span i {
	color: #008f91;
	margin: 0 5px;
}
/* Mobile */
@media (max-width: 320px) {
  .logo {
    width: 100%;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    display: none;
  }
  header nav ul {}
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
	  display: none;
  }
  .text_column {
    width: 100%;
    text-align: justify;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 90%;
    margin-top: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 12px;
    float: none;
    text-align: center;
  }
  .banner {
    background-color: #2D9AB7;
    background-image: none;
  }
  .tagline {
    margin-top: 20px;
    line-height: 22px;
  }
  .hero_header {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    text-align: center;
  }
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
  .logo {
    width: 100%;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    color: #043745;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: none;
    background: #52bad5;
  }
  header nav ul {
    padding: 0px;
    float: none;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .text_column {
    width: 100%;
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .thumbnail {
    width: 100%;
  }
  .footer_column {
    width: 100%;
    margin-top: 0px;
  }
  .parallax {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    font-size: 18px;
  }
  .parallax_description {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 30%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: none;
    width: 100%;
    text-align: center;
  }
  .thumbnail {
    width: 50%;
  }
  .parallax {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 20%;
  }
  .parallax_description {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    padding-top: 30px;
  }
  .banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_column {
    width: 100%;
  }
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  .text_column {
    width: 100%;
  }
  .thumbnail {
    width: 50%;
  }
  .text_column {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

}

